<script src="https://cdn.tailwindcss.com"></script>

<div class="w-full h-full grid place-content-center text-center">
    <h1 class="text-xl font-bold">An Error Occurred</h1>
    <button type="button" onclick="window.history.back()" class="border border-black rounded-md">Go Back</button>
</div>